# Grouping and Aggregating variables task 4.8

## 1. Importing libraries and data sets

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#creating pathway for dataframes
path = os.path.join(r'/Users/katja/Documents/Instacart Basket Analysis/02 Data')

In [3]:
#import orders_products
ords_prods_merge =pd.read_pickle(os.path.join(path,'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
#loading garbage collector
import gc

In [5]:
ords_prods_merge.count()

order_id                  32404859
user_id                   32404859
clients_order_number      32404859
orders_day_of_week        32404859
order_hour_of_day         32404859
days_since_prior_order    30328763
product_id                32404859
add_to_cart_order         32404859
reordered                 32404859
product_name              32404859
aisle_id                  32404859
department_id             32404859
prices                    32404859
price_range_loc           32404859
busiest_days              32404859
busiest_period_of_day     32404859
max_order                 32404859
loyalty_flag              32404859
dtype: int64

## Step 2 Find mean for order_id for full set

In [6]:
#agg mean of order_number here as 'clients_order_number'
ords_prods_merge.groupby('department_id').agg({'clients_order_number': ['mean']})

              clients_order_number
                              mean
department_id
1                        15.457838
2                        17.277920
3                        17.170395
4                        17.811403
5                        15.215751
6                        16.439806
7                        17.225802
8                        15.340650
9                        15.895474
10                       20.197148
11                       16.170638
12                       15.887671
13                       16.583536
14                       16.773669
15                       16.165037
16                       17.665606
17                       15.694469
18                       19.310397
19                       17.177343
20                       16.473447
21                       22.902379

### Compared to the subset the full dataset shows the mean for every department.

## Step 4 Create a loyalty flag for existing customer using transform() & loc()

### see output for loyalty flag in the other notebook 4.8.1

In [8]:
# checking the columns
ords_prods_merge[['user_id', 'clients_order_number', 'loyalty_flag']].sample(30)

          user_id  clients_order_number      loyalty_flag
9306325     72586                    50    Loyal customer
22867489    85436                     7    Loyal customer
914821      66817                     7    Loyal customer
23758864   137188                     2      New customer
22693605   123297                     4      New customer
23173838    95226                    20  Regular customer
14888632    52493                     9  Regular customer
13004776   127615                    10  Regular customer
10238948   118609                    66    Loyal customer
16118242   179002                    15  Regular customer
17125237   162523                    14    Loyal customer
5899392    203954                     3      New customer
18830446   103376                    17  Regular customer
16853806   196986                     3      New customer
18836934    75749                    23  Regular customer
27596578    92389                     1      New customer
11725996   195066                    14    Loyal customer
19923310   190960                     7      New customer
18094762   143199                     4      New customer
29873321    24032                     6      New customer
5730106    100123                     2  Regular customer
12179343    24439                    33    Loyal customer
23359435    71071                     4  Regular customer
8261765    172973                    20  Regular customer
14385216    90599                     3      New customer
393302     179260                    59    Loyal customer
18296685     6977                     8  Regular customer
19991873   107543                     2  Regular customer
17973441   191559                    40    Loyal customer
7202737    109347                    17    Loyal customer

## Step 5. Determine whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [10]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','median','min', 'max']})

                     prices
                       mean median  min      max
loyalty_flag
Loyal customer    10.386336    7.4  1.0  99999.0
New customer      13.294670    7.4  1.0  99999.0
Regular customer  12.495717    7.4  1.0  99999.0

## Step 6.  Create a spending flag for each user based on the average price across all their orders using the following criteria:

### A. If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

### B. If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [11]:
#Creating mean_spend column to show customers based on their mean prices across products
ords_prods_merge['mean_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [12]:
#confirm & check column
ords_prods_merge.head(10)

,order_id,user_id,clients_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,regularly busy days,least orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy days,least orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy days,most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy days,least orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy days,most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,regularly busy days,least orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,busiests days,least orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,busiests days,most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,busiests days,most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy days,least orders,10,New customer,6.367797

In [13]:
ords_prods_merge.loc[ords_prods_merge['mean_spend'] >= 10, 'spending_flag'] = 'High spender'

In [14]:
ords_prods_merge.loc[ords_prods_merge['mean_spend'] < 10, 'spending_flag'] = 'Low spender'

In [15]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [16]:
ords_prods_merge.head(10)

,order_id,user_id,clients_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spending_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,regularly busy days,least orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy days,least orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy days,most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy days,least orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy days,most orders,10,New customer,6.367797,Low spender
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,regularly busy days,least orders,10,New customer,6.367797,Low spender
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,busiests days,least orders,10,New customer,6.367797,Low spender
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,busiests days,most orders,10,New customer,6.367797,Low spender
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,busiests days,most orders,10,New customer,6.367797,Low spender
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy days,least orders,10,New customer,6.367797,Low spender

## Step 7. frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

### A. If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

### B. If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

### C. If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [18]:
#Creating median_order_frequency column to show customers based on their median days_since_last_order

ords_prods_merge['median_order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [21]:
ords_prods_merge.head()

,order_id,user_id,clients_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spending_flag,median_order_frequency
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,Mid-range product,regularly busy days,least orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,Mid-range product,least busy days,least orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,Mid-range product,least busy days,most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,Mid-range product,least busy days,least orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,Mid-range product,least busy days,most orders,10,New customer,6.367797,Low spender,20.5

In [22]:
#A. Creating "order_frequency_flag" for median_orders > 20 as "Non-frequent customer"
ords_prods_merge.loc[ords_prods_merge['median_order_frequency'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [23]:
#B. Creating "order_frequency_flag" for median_orders <= 20 & >10 as "regular customer"
ords_prods_merge.loc[(ords_prods_merge['median_order_frequency'] <= 20) & (ords_prods_merge['median_order_frequency'] > 10), 'order_frequency_flag'] = 'Regular customer'

In [24]:
#C. Creating "order_frequency_flag" for median_orders <= 10 as "frequent customer"
ords_prods_merge.loc[ords_prods_merge['median_order_frequency'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [25]:
# checking "order_frequency_flag" frequency
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
nan                             5
Name: count, dtype: int64

## Export Data

In [26]:
#Export df_ords_prods_merge to PKL
ords_prods_merge.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_merged_updated.pkl'))

In [29]:
# delete df to safe space 

del ords_prods_merge['order_frequency_flag']
del ords_prods_merge['median_order_frequency']

gc.collect()

1560